.body-index 
{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    width: 1600px;
    height: 2349px;
    position: relative;
    color: #757575;
    background: #FFFFFF;
}
.body-portfolio
{
    width: 1600px;
    height: 1880px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    position: relative;
    color: #757575;
    background: #FFFFFF;
        }
a:hover 
{
    color: #2196F3;
}
a:focus
{
    color: #2196F3;
}

h4
{
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
h5
{
    color: #212121;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: -8px;
}
.footer-index
{
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px;
    background: #2F303A;
}
.footer-portfolio
{
    position: absolute;
        width: 1600px;
        height: 252px;
        left: 0px;
        top: 1628px;
        background: #2F303A;
}
ul
{
    list-style-type:none;
}
button 
{
    font-family:inherit;
    cursor: pointer;
    border-radius: 4px;
}
.footer-list
{
    position: absolute;
    width: 246px;
    height: 100px;
    left: 215px;
    top: 80px;
    padding: 0%;
}
.btn-order:hover
{
    color:#000000;
}
.btn-order:focus
{
    color:#000000; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}


.container {
    width: 1200px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    align-items: center;
    height: 80px;
}

.nav-header,
.address {
    display: flex;
    align-items: center;
}

.address-tel {
    margin-left: 50px;
}

.nav-header,
.address,
.button-list,
.portfolio-list {
    list-style: none;
}

.nav-header-item,
.address-mail,
.address-tel,
.portfolio-list {
    text-decoration: none;
}

.nav-header-item {
    margin-right: 46px;
    justify-content: flex-start;
    align-items: center;
}

.address {
    margin-left: auto;
    justify-content: flex-end;
}

.logo {
    font-style: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
    margin-right: 93px;
}

.logo-accent {
    color: #2196F3;
}

.address-mail,
.address-tel {
    font-size: 14px;
    font-weight: 500;
    color: #757575;

}

.nav-header-item {
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
}

.baner
{
    width: 1600px;
    height: 600px;
    background: #2F303A;    
    display: flex;
    flex-direction:column;
}
.baner-text
{
    letter-spacing: 0.06em;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    display: flex;
    justify-content: center;
    line-height: 1.36;
    text-align: center;
    margin: auto auto 15px auto;
    width: 696px;
    height: 120px;
}

.btn-order
{
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    margin: 15px auto auto;
    text-align: center;
    padding: 10px 41px;
    border:0;
    border-radius: 4px;
}
 
.box-skills
{
    list-style: none;
    display:flex;
    font-size: 14px;
    width: 1170px;
    height: 101px;
    letter-spacing: 0.03em;
    line-height: 1.71;
    justify-content: space-between;
    
}
.skill
{
    width: 270px;
    height: 101px;
    text-align: justify;
}
.title1 {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
      
}
    .box-img
{
list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.image
{
    margin: 15px;
        padding: 0;
}
.title2
{
    position: absolute;
    width: 300px;
    height: 42px;
    left: 650px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-cards
{
    position: absolute;
    width: 1170px;
    height: 368px;
    text-align: center;
    font-size: 16px;
}
.team
{    
    position: absolute;
    width: 1600px;
    height: 648px;
    top: 1449px;
    background: #F5F4FA;
}  
.card-1
{
    position: absolute;
    width: 270px;
    height: 368px;
    left: 180px;
    top:100px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;
}
.card-2
{
    position: absolute;
    width: 270px;
    height: 368px;
    left: 480px;
    top: 100px; 
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;
}

.card-3
{
    position: absolute;
    width: 270px;
    height: 368px;
    left: 780px;
    top: 100px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;
}
.card-4
{
    position: absolute;
    width: 270px;
    height: 368px;
    left: 1080px;
    top: 100px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;
}
.logo-footer 
{
    text-decoration: none;
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 60px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
}
.footer-address
{ 
    font-style: normal;
    position: absolute;
    width: 250px;
    height: 21px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    
}
.mail-footer 
{
    text-decoration: none;
    text-decoration: underline;
    font-style: normal;
    position: absolute;
    width: 231px;
    height: 21px;
    top: 42px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.tel-footer
{
    text-decoration: none;
    position: absolute;
    font-style: normal;
    width: 231px;
    height: 21px; 
    top: 70px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

}
ul
{
    list-style-type:none;
}
.footer-list
{
    position: absolute;
    width: 246px;
    height: 100px;
    left: 215px;
    top: 80px;
    padding: 0%;
}
#btn:hover
{
    background-color: #2196F3;
    color: #F5F4FA;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
#btn:focus
{
    background-color: #2196F3;
    color: #F5F4FA;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn-all
{
    position: absolute;
    height: 38px;
    width: 121px;
    left: 510px;
    top: 174px;
    background: #F5F4FA;
    font-size: 16px;
    border: 0;
    font-style: normal;
    line-height: 0.31;
    text-align: center;
letter-spacing: 0.03em;

color: #212121;

}
.btn-pages
{
    position: absolute;
    height: 38px;
    width: 93px;
    left: 639px;
    top: 174px;
    background: #F5F4FA;
    border: 0;
    font-style: normal;
    line-height: 0.31;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
}
.btn-app
{
position: absolute;
    height: 38px;
    left: 740px;
    width: 114px;
    top: 174px;
    height: 38px;
    background: #F5F4FA;
    border: 0;
    font-style: normal;
    font-size: 16px;
    line-height: 0.31;
    text-align: center;
    letter-spacing: 0.03em;
}
.btn-design
{
    position: absolute;
    height: 38px;
    width: 91px;
     left: 862px;
     top: 174px;
    background: #F5F4FA;
    border: 0;
    font-style: normal;
    font-size: 16px;
    line-height: 0.31;
    text-align: center;
    letter-spacing: 0.03em;
}
.btn-mark
    {
        position: absolute;
         width: 121px;
         height: 38px;
         left: 961px;
         top: 174px;
        background: #F5F4FA;
        border: 0;
        font-size: 16px;
        font-style: normal;
        line-height: 0.31;
        text-align: center;
        letter-spacing: 0.03em;
    }
    .post1
    {
        box-sizing: border-box;
        position: absolute;
        width: 370px;
        height: 404px;
        left: 215px;
        top: 262px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
    }
    .post2
    {
        box-sizing: border-box;
            position: absolute;
            width: 370px;
            height: 404px;
            left: 615px;
            top: 262px;
            background: #FFFFFF;
            border: 1px solid #EEEEEE;
    }
    .post3
        {box-sizing: border-box;
        position: absolute;
        width: 370px;
        height: 404px;
        left: 1015px;
        top: 262px;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
}
.post4
{
    box-sizing: border-box;
    position: absolute;
    width: 370px;
    height: 404px;
    left: 215px;
    top: 696px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}
.post5
{
    box-sizing: border-box;
    position: absolute;
    width: 370px;
    height: 404px;
    left: 615px;
    top: 696px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}
.post6
{
    box-sizing: border-box;
    position: absolute;
    width: 370px;
    height: 404px;
    left: 1015px;
    top: 696px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}
.post7
{
    box-sizing: border-box;
    position: absolute;
    width: 370px;
    height: 404px;
    left: 215px;
    top: 1130px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}
.post8
{
    box-sizing: border-box;
    position: absolute;
    width: 370px;
    height: 404px;
    left: 615px;
    top: 1130px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}
.post9
{
    box-sizing: border-box;
    position: absolute;
    width: 370px;
    height: 404px;
    left: 1015px;
    top: 1130px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}
.text-post
{
    margin-left: 24px;
}
.section
{padding-top: 94px;
padding-bottom: 94px;}